:root {
  --red: #ff006e;
  --orange: #fb5607;
  --yellow: #ffbe0b;
  --violeta: #8338ec;
  --blue: #3a86ff;
  --black: #414141;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

header {
  background-color: var(--red);
  color: var(--white);
  padding: 1rem;
  text-align: center;
  padding-block: 80px;
}

header h1 {
  font-size: 64px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li:hover {
  border-bottom: 2px solid var(--white);
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.contenedor-principal {
  display: flex;
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  gap: 16px;
}

.menu-categorias {
  width: 200px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  /* margin-right: 20px; */
}

.menu-categorias h2 {
  margin-top: 0;
  color: var(--red);
  padding-bottom: 16px;
}

.menu-categorias ul {
  list-style-type: none;
  padding: 0;
}

.menu-categorias li {
  margin-bottom: 10px;
  border-bottom: 2px solid var(--white);
}

.menu-categorias li:hover {
  border-bottom: 2px solid var(--red);
}

.menu-categorias a {
  text-decoration: none;
  color: var(--black);
}

main {
  flex: 1;
}

.buscador {
  margin-bottom: 20px;
}

.buscador input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.galeria-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.producto img {
  max-width: 100%;
  height: auto;
}

.producto h3 {
  margin: 10px 0;
  color: var(--black);
}

.producto .precio {
  font-weight: bold;
  color: var(--blue);
}

.producto .valoracion {
  color: var(--yellow);
  font-size: 1.2em;
  margin: 5px 0;
}

.producto button {
  /* background-color: #28a745; */
  border: 1px solid var(--red);
  color: var(--red);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.6s ease;
}

.producto button:hover {
  background-color: var(--red);
  color: var(--white);
}

.carrito {
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.carrito h2 {
  text-align: center;
  color: var(--red);
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.item-carrito .cantidad {
  display: flex;
  align-items: center;
}

.item-carrito .cantidad button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.item-carrito button.eliminar {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#total-carrito {
  font-weight: 500;
}

#formulario-cliente {
  margin-top: 20px;
}

#formulario-cliente h3 {
  color: var(--red);
}

#formulario-cliente label {
  /* display: block; */
  margin-top: 10px;
  /* border: 1px solid red; */
}

#formulario-cliente input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 4px;
}

#formulario-cliente textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

textarea:focus {
  outline: none;
}

#formulario-cliente fieldset {
  margin-top: 10px;
  border: 2px dashed var(--red);
  padding: 10px;
}

#formulario-cliente fieldset legend {
  padding-inline: 8px;
}

#formulario-cliente fieldset label {
  display: flex;
  gap: 8px;
}

#formulario-cliente fieldset label input {
  width: auto;
}

#realizar-pedido {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  font-size: 1.1em;
  width: 100%;
}

#realizar-pedido:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
  }

  .menu-categorias {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .carrito {
    width: 100%;
    margin-top: 20px;
    position: static;
  }
}